<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Search Results</title>

  <link rel="stylesheet" href="../../static/PhotoMenu/CSS/Reset.css">
  <link rel="stylesheet" href="../../static/PhotoMenu/CSS/SearchResultsPage.css">
  <link href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>

  <script src="../../static/PhotoMenu/JS/SearchResultsPage.js"></script>

</head>

<body>
  <!-- Logo and Favorites Nabar-->
  <nav class="theme-orange">
    <h1 class="brand-name-logo">Pocket Menu</h1>
    <a class="my-favorites-button" href="#">My Favorites</a>
  </nav>

  <div class="top-section">
    <h1 class="search-page-title">Search Results</h1>
    <div class="search-options-wrapper">
      <span class="search-option search-option-left selected-search-option">Restaurant</span>
      <span class="search-option search-option-right">Food Name</span>
    </div>
    <form class="search-bar-form">
      <input type="submit" class="search-results-submit-button" value="">
      <div class="search-bar-input-wrapper">
        <input type="text" class="search-results-search-bar" placeholder="Search for Restaurants">
      </div>


    </form>



  </div>


</body>
</html>