body{
    padding-bottom: 60px;
}

.contact-us-link{
    display: none;
}
.header-links-separator{
    display: none;
}
.contact-page-header{
    height: 78px;
    background-image: url("../../Images/MockPhotos/IndianFood.jpg");
    background-position: 0px 0px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.dark-overlay{
    background-color: rgba(0,0,0,0.4);
}
.picture-text{
    text-align: center;
    vertical-align: middle;
    line-height: 78px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.contact-us-header-container{
    width: 92%;
    margin: 0px auto 0px auto;
    max-width: 400px;
}
.contact-us-form{
    width: 92%;
    margin: 0px auto 0px auto;
    max-width: 400px;
}
.text-header{
    font-size: 20px;
    font-weight: 500;
    color: #555555;
    margin-top: 10px;
    /*margin-left: 4%;*/
    width: 100%;
}
.divider-line{
    /*margin-left: 4%;*/
    margin-top: 12px;
    width: 100%;
    border-bottom: 2px solid #FF9800;
}
.contact-us-text{
    margin-top: 10px;
    /*margin-left: 4%;*/
    /*margin-right: 4%;*/
    margin-bottom: 15px;
    font-size: 14px;
    color: #555555;
    width: 100%;
}
.input-field-name{
    margin-top: 12px;
    /*margin-left: 4%;*/
    font-size: 14px;
    color: #555555
}
.text-input-field{
    margin-top: 8px;
    /*margin-left: 4%;*/
    padding-left: 10px;
    font-size: 14px;
    color: #333333;
    width: 100%;
    height: 28px;
    border: 1px solid #979797;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.message-area{
    margin-top: 8px;
    /*margin-left: 4%;*/
    padding-left: 10px;
    padding-top: 8px;
    width: 100%;
    height: 150px;
    font-size: 14px;
    resize: none;
    color: #333333;
    border: 1px solid #979797;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.send-message{
    /*margin-left: 4%;*/
    margin-top: 12px;
    background: transparent;
    width: 100%;
    /* height: 30px; */
    border: 2px solid #ff9800;
    color: #ff9800;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    padding: 10px 0px 10px 0px;
}
.contact-footer{
    position: absolute;
    bottom: 0px;
    height: 45px;
    width: 100%;
    background-color: #555555;
}

@media (min-width: 355px) {
    .contact-page-header{
        height: 110px;
        margin-bottom: 5px;
    }
    .picture-text{
        line-height: 110px;
        font-size: 30px;
        letter-spacing: .5px;
    }
    .text-header{
        font-size: 22px;
        margin-top: 15px;
    }
    .contact-us-text{
        margin-top: 12px;
        font-size: 16px;
    }
    .input-field-name{
        font-size: 16px;
    }
    .text-input-field{
        height: 32px;
        font-size: 16px;
    }
    .message-area{
        font-size: 16px;
        padding-top: 10px;
    }
    .send-message{
        margin-top: 15px;
        /*height: 40px;*/
        font-size: 18px;
    }
}

@media (min-width: 800px) {
    .contact-page-header{
        height: 150px;
        background-position: 0px -85px;
    }
    .picture-text{
        line-height: 150px;
        font-size: 48px;
    }
    .text-header{
        margin-top: 20px;
        font-size: 28px;
        /*margin-left: 15%;*/
    }
    .divider-line{
        /*margin-left: 15%;*/
        width: 100%;
    }
    .contact-us-text{
        /*margin-left: 15%;*/
        /*margin-right: 20%;*/
        margin-bottom: 20px;
        font-size: 16px;
        /*width: 600px;*/
    }
    .contact-us-header-container{
        max-width: 600px;
    }
    .contact-us-form{
        max-width: 600px;
    }
    .input-field-name{
        /*margin-left: 15%;*/
        font-size: 16px;
    }
    .text-input-field{
        /*margin-left: 15%;*/
        height: 34px;
        font-size: 14px;
        width: 50%;
    }
    .message-area{
        /*margin-left: 15%;*/
        font-size: 14px;
        width: 100%
    }
    .send-message{
        margin-top: 20px;
        /*margin-left: 15%;*/
        /*width: 30%;*/
        font-size: 16px;
        max-width: 200px;
    }
    .send-message:hover{
        cursor: pointer;
        background-color: #FF9800;
        color: #FFFFFF;
    }
}
