/* Header area */
.filter-and-search-section{
    display: none;
}
.favorites-button{
    display: none;
}
.header-links-separator{
    display: none;
}

/*-------Title and Background Image------*/
div.header-background{
    width: 100%;
    height: 80px;
    background-image: url("../../Images/MockPhotos/IndianFood.jpg");
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

div.background-image-dark-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}

h1.favorites-header{
    text-align: center;
    color: #FFFFFF;
    line-height: 80px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

/*-------Food Sections------*/
ul.list-of-food-lists{

}
ul.food-type-section-food-list{
    display: flex;
    flex-wrap: wrap;
}

/* Large mobile view */
@media (min-width: 480px) {
    ul.food-type-section-food-list{
        width: 91%;
        margin: 0px 0px 0px 4%;
        padding: 0px 4px 0px 0px;
    }
}

@media (min-width: 650px) {
    div.header-background {
        height: 120px;
    }
    h1.favorites-header {
        line-height: 120px;
        font-size: 24px;
    }
}

/* Desktop view */
@media (min-width: 800px) {
    .contact-us-link{
        right: 10px;
    }
    .filter-and-search-section{
        display: block;
    }
    span.navbar-mobile.header-search-icon{
        display: none;
    }
}
@media (min-width: 1200px) {
    ul.list-of-food-lists{
        max-width: 1210px;
        margin: 0px auto 0px auto;
    }
}