/*-----------Navbar-----------*/
nav{
    width: 100%;
    height: 45px;
    background-color: #FF9800;
}
.navbar-desktop, .restaurant-page-desktop{
    display: none;
}

span.navbar-mobile.header-hamburger-icon{
    background-image: url("../../Images/Icons/WhiteHamburgerIcon.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 11px 0px 0px 10px;
}

a.my-favorites-button{
    color: #FFF;
    font-size: 12px;
    padding: 9px 10px 9px 10px;
    border: 1px solid #FFF;
    float: right;
    margin: 8px 0px 0px 0px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

span.navbar-mobile.header-search-icon{
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-image: url("../../Images/Icons/WhiteSearchIcon.png");
    width: 20px;
    height: 20px;
    float: right;
    margin: 13px 15px 0px 10px;
}

/*-------Title and Background------*/

div.header-background{
    width: 100%;
    background-image: url("../../Images/MockPhotos/CrispyShrimp.jpg");
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-position: 0px 25%;
}

div.background-image-dark-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    overflow: auto;
    max-height: 250px;
}

h1.restaurant-name{
    margin:20% 0px 5px 5%;
    width: 70%;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

p.restaurant-address{
    width: 60%;
    margin: 0px 0px 0px 5%;
    color: #FFFFFF;
    font-size: 13px;
}

p.restaurant-hours{
    margin: 0px 0px 3% 5%;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 15px;
}

p.restaurant-hours::before{
    content: '';
    background-image: url("../../Images/Icons/WhiteClockIcon.png");
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin: 0px 5px 0px 0px;
}

/*--------Categories (filter) and Search Bar------*/
div.categories-and-search-bar.restaurant-page-desktop{
    width: 100%;
}

/*-------Menu Categories-------*/
p.category-description{
    font-size: 14px;
    color: #555555;
    font-weight: 300;
    width: 92%;
    margin: 7px 0px 10px 4%;
    line-height: 17px;
}

ul.food-type-section-food-list{
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 355px) {
    nav{
        height: 55px;
    }

    span.navbar-mobile.header-hamburger-icon{
        width: 30px;
        height: 30px;
        margin: 14px 0px 0px 20px;
    }

    a.my-favorites-button{
        font-size: 14px;
        padding: 10px 10px 10px 10px;
        margin: 10px 0px 0px 0px;
    }

    span.navbar-mobile.header-search-icon{
        width: 23px;
        height: 23px;
        margin: 16px 10px 0px 10px;
    }
}

@media (min-width: 480px) {

    ul.food-type-section-food-list{
        width: 91%;
        margin: 0px 0px 0px 4%;
        padding: 0px 4px 0px 0px;
    }

}

@media (min-width: 600px) {

    h1.restaurant-name{
        font-size: 24px;
        font-weight: bold;
        font-size: 28px;
    }
    
    p.restaurant-address{
        font-size: 15px;
    }
    
    p.restaurant-hours{
        font-size: 15px;
    }
    
    p.restaurant-hours::before{
        width: 18px;
        height: 18px;
    }

    p.category-description{
        font-size: 15px;
    }
}

@media (min-width: 800px) {

    h1.brand-name-logo{
        font-family: 'Nothing You Could Do', cursive;
        display: inline-block;
        height: 45px;
        line-height: 50px;
        margin-left: 10px;
        color: #FFFFFF;
        font-size: 22px;
    }

    h1.restaurant-name{
        margin: 155px 0px 5px 5%;
    }

    .navbar-desktop, .restaurant-page-desktop{
        display: inline-block;
    }

    .navbar-mobile{
        display: none !important;
    }

    div.navbar-desktop.header-search-bar{
        margin: 15px 0px 0px calc(50% - 147px - (265px / 2));
        opacity: .6;
    }

    span.navbar-desktop.header-search-icon{
        width: 23px;
        height: 23px;
        background-image: url("../../Images/Icons/WhiteSearchIcon.png");
        background-size: 100% auto;
    }

    input.navbar-desktop.header-search-input{
        height: 25px;
        background-color: transparent;
        position: relative;
        bottom: 6px;
        margin: 0px 0px 0px 5px;
        color: #FFFFFF;
        width: 230px;
    }

    input.navbar-desktop.header-search-input::-webkit-input-placeholder{
        color: #FFFFFF;
    }

    a.navbar-desktop.header-contact-us-link{
        float: right;
        padding: 10px 10px 10px 10px;
        margin: 8px 6px 0px 0px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 300;
    }

    span.navbar-desktop.header-links-separator{
        float: right;
        margin: 10px 4px 0px 0px;
        height: 35px;
        width: 1px;
        background-color: #FFFFFF;
    }

    a.navbar-desktop.header-my-favorites-link{
        color: #FFF;
        padding: 9px 10px 9px 10px;
        float: right;
        text-decoration: none;
        font-size: 16px;
        margin: 8px 6px 0px 0px;
        font-weight: 300;
    }

    p.category-description{
        font-size: 16px;
    }
}

@media (min-width: 1200px) {

    ul.list-of-food-lists{
        max-width: 1210px;
        margin: 0px auto 0px auto;
    }

}