/*-------Title and Background------*/

div.header-background{
    width: 100%;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-position: 0px 25%;
}
div.background-image-dark-overlay{
    background-color: rgba(0,0,0,.4);
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-bottom: 55px;
    padding-top: 55px;
}
div.restaurant-info-wrapper{
    width: 80%;
    margin: 0px auto 0px auto;
    text-align: center;
}
a.restaurant-name{
    color: white;
    font-size: 28px;
    font-weight: 600;
}
p.restaurant-address{
    color: white;
    font-weight: 500;
    font-size: 15px;
    width: 85%;
    margin: 5px auto 5px auto;
    max-width: 290px;
}
p.restaurant-hours{
    color: white;
    font-size: 15px;
    font-weight: 500;
}
div.restaurant-description-wrapper{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
h1.restaurant-description-header{
    color: #555555;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}
p.restaurant-description{
    width: 100%;
    margin-top: 8px;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
span.day-wrapper {
    color: #FF9800;
}
div.restaurant-search-results-wrapper{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
h1.search-results-header{
    margin-top: 15px;
    font-size: 24px;
    font-weight: 500;
    color: #333333;
    text-align: center;
}
p.search-results-detail{
    margin-top: 15px;
    color: #555555;
    font-size: 14px;
}
div.line-separator{
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    height: 1px;
    background-color: #979797;
}
p.no-results-found{
    margin-top: 10px;
    color: #333333;
    text-align: center;
}

/*-------Menu Categories-------*/
@media (min-width: 355px) {
    div.background-image-dark-overlay{
        padding-top: 75px;
        padding-bottom: 75px;
    }
    a.restaurant-name{
        font-size: 30px;
    }
    p.restaurant-address{
        margin-top: 5px;
        margin-bottom: 6px;
        font-size: 18px;
    }
    div.all-restaurant-hours{
        margin-left: 6px;
    }
    p.restaurant-hours{
        font-size: 18px;
        line-height: 18px;
    }
    h1.restaurant-description-header{
        font-size: 24px;
    }
    p.restaurant-description{
        margin-top: 10px;
        font-size: 16px;
        line-height: 18px;
    }
    h1.search-results-header{
        font-size: 30px;
    }
    p.search-results-detail{
        font-size: 16px;
    }
    p.no-results-found{
        margin-top: 14px;
        font-size: 20px;
    }
}

/* Desktop view */
@media (min-width: 800px) {
    div.background-image-dark-overlay{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    a.restaurant-name{
        font-size: 50px;
    }
    p.restaurant-address{
        margin-bottom: 7px;
        margin-top: 7px;
        font-size: 18px;
    }
    input.search-submit-button{
        right: 0px;
    }
    p.restaurant-hours{
        font-size: 18px;
    }
    div.restaurant-description-wrapper{
        margin-left: auto;
        margin-right: auto;
        width: 91%;
        max-width: 1192px;
    }
    h1.restaurant-description-header{
        margin-top: 40px;
        font-size: 26px;
        width: 91%;
        padding-left: calc(1% - 2px);
    }
    p.restaurant-description{
        font-size: 18px;
        line-height: 22px;
        width: 91%;
        padding-left: calc(1% - 2px);
    }
    h1.search-results-header{
        font-size: 34px;
    }
    p.no-results-found{
        margin-bottom: 200px;
    }
}
