<!-- Relevant CSS files -->
{# <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/AllInspectorViews.css" %}"> #}
{# <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/DesktopInspectorView.css" %}"> #}

<!-- Relevant JS files -->
{# <script src="{%  static "PhotoMenu/JS/DocumentModule.js" %}" type="text/javascript"></script> #}
{# <script src="{%  static "PhotoMenu/JS/FoodEntry.js" %}" type="text/javascript"></script> #}
{# <script src="{%  static "PhotoMenu/JS/AllInspectorView.js" %}" type="text/javascript"></script> #}

{% load staticfiles %}
<div class="desktop-inspector-background-overlay"></div>
<div class="food-modal-container">
  <span class="exit-food-modal-icon"></span>
  <div class="food-modal-image-wrapper">
    <span class="food-modal-left-arrow-icon"></span>
    <img src="{% static "PhotoMenu/Images/MockPhotos/CrispyShrimp.jpg" %}" alt="Crispy Shrimp" class="food-modal-image">
    <span class="food-modal-right-arrow-icon"></span>
  </div>
  <div class="food-modal-details">
    <h3 class="food-modal-restaurant-name"><a href="#">Kathy's Asian Kitchen</a></h3>
    <div class="food-modal-food-details">
      <h1 class="food-modal-food-name">Crispy Shrimp</h1>
      <p class="food-modal-food-description">
        Jumbo shrimp and shiitake mushroom fried and glazed with warm spicy mayo.
      </p>
      <h5 class="food-modal-category-name">Category Name</h5>
      <p class="food-modal-category-details">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore Lorem ipsum dolor sit amet, consectetur
      </p>
      <span class="food-modal-food-price">11.00</span>
      <span class="food-interest-icon not-like-food"></span>
    </div>
  </div>
</div>