<!-- Relevant CSS files -->
{# <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/FilterSearch.css" %}"> #}

<!-- Relevant JS files -->
{# <script src="{%  static "PhotoMenu/JS/DocumentModule.js" %}" type="text/javascript"></script> #}
{# <script src="{%  static "PhotoMenu/JS/FilterSearch.js" %}" type="text/javascript"></script> #}

<div class="filter-and-search-section">
  <ul class="filter-options-list">

    {% for cat in horizontal_cats %}
      <li class="filter-option" data-category-name="{{ cat.name }}">
        <span class="filter-name">{{ cat.name }}</span>
      </li>
    {% endfor %}

    {% if remaining_cats|length > 0 %}
      <li class="more-options-options">
        <span class="filter-name">More</span>
        <i class="more-options-drop-down-icon"></i>
        <ul class="more-filter-options-list">

          {% for cat in remaining_cats %}
            <li class="hidden-filter-option" data-category-name="{{ cat.name }}">
              <span class="hidden-filter-name">{{ cat.name }}</span>
            </li>
          {% endfor %}

        </ul>
      </li>
    {% endif %}

    <hr class="sliding-underbar"/>
  </ul>
  <div class="current-page-search-wrapper">
    <span class="current-page-search-icon"></span>
    <input placeholder="Search {{ restaurant.name }}" class="current-page-search-bar" type="text">
  </div>
</div>