<div class="filter-and-search-section">
  <ul class="filter-options-list">
    <li class="filter-option">
      <span class="filter-name">A-Z</span>
    </li>
    <li class="filter-option chosen-filter">
      <span class="filter-name">Restaurant Name</span>
    </li>
    <li class="filter-option">
      <span class="filter-name">Cuisine</span>
    </li>
  </ul>
  <div class="current-page-search-wrapper">
    <input placeholder="Search 'My Favorites'..." class="current-page-search-bar" type="text">
    <span class="current-page-search-icon"></span>
  </div>
</div>