<div class="filter-and-search-section">
  <ul class="filter-options-list">
    <li class="filter-option">
      <span class="filter-name">Option 1</span>
    </li>
    <li class="filter-option">
      <span class="filter-name">Option 2</span>
    </li>
    <li class="filter-option">
      <span class="filter-name">Option 3</span>
    </li>
    <li class="filter-option more-options-options">
      <span class="filter-name">More</span>
      <i class="more-options-drop-down-icon"></i>
      <ul class="more-filter-options-list">
        <li class="hidden-filter-option">
          <span class="filter-name">Option 4</span>
        </li>
        <li class="hidden-filter-option">
          <span class="filter-name">Option 5</span>
        </li>
        <li class="hidden-filter-option">
          <span class="filter-name">Option 6</span>
        </li>
      </ul>
    </li>
    <hr class="sliding-underbar"/>
  </ul>
  <div class="current-page-search-wrapper">
    <span class="current-page-search-icon"></span>
    <input placeholder="Search 'My Favorites'..." class="current-page-search-bar" type="text">
  </div>
</div>