{% load staticfiles %}

<div class="food-modal-background-overlay"></div>
<div class="food-modal-container">
  <span class="exit-food-modal-icon"></span>
  <div class="food-modal-image-wrapper">
    <span class="food-modal-left-arrow-icon"></span>
    <img src="{% static "PhotoMenu/Images/MockPhotos/ElPelon.jpg" %}" alt="Crispy Shrimp" class="food-modal-image">
    <span class="food-modal-right-arrow-icon"></span>
  </div>
  <div class="food-modal-details">
    <h3 class="food-modal-restaurant-name">Kathy's Asian Kitchen</h3>
    <div class="food-modal-food-details">
      <h1 class="food-modal-food-name">Crispy Shrimp</h1>
      <p class="food-modal-food-description">
        Jumbo shrimp and shiitake mushroom fried and glazed with warm spicy mayo.
      </p>
      <h5 class="food-modal-category-name">Category Name</h5>
      <p class="food-modal-category-details">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore Lorem ipsum dolor sit amet, consectetur
      </p>
      <span class="food-modal-food-price">11.00</span>
      <span class="food-interest-icon like-food"></span>
    </div>
  </div>
</div>