<!-- Relevant CSS files -->
{# <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/FoodEntry.css" %}"> #}

<!-- Relevant JS files -->
{# <script src="{%  static "PhotoMenu/JS/FoodEntry.js" %}" type="text/javascript"></script> #}
{# <script src="{%  static "PhotoMenu/JS/AllInspectorView.js" %}" type="text/javascript"></script> #}

{% load staticfiles %}
<li class="food-entry-li"
    data-food-name="{{ menu_item.name }}"
    data-food-details="{{ menu_item.description }}"
    data-food-image-location="{{ menu_item.image.url }}"
    data-food-price="{{ menu_item.price }}"
    data-category-name="{{ menu_item.menu_category.name }}"
    data-category-description="{{ menu_item.menu_category.description }}"
    data-restaurant-name="{{ menu_item.menu_category.restaurant.name }}"
    data-restaurant-link="{{ menu_item.menu_category.restaurant.name_as_link }}"
    data-food-unique-id="{{ menu_item.pk }}"
    data-food-is-liked="false">
  <div class="food-entry-wrapper">
    <div class="food-entry-image">
      <img class="unloaded_image" src="{% static "PhotoMenu/Images/Icons/ImgLoadingPlaceholder.png" %}" alt="{{ menu_item.name }}">
    </div>
    <h4 class="food-entry-name">{{ menu_item.name }}</h4>
    <p class="food-description-name">{{ menu_item.description }}</p>
    <p class="food-entry-price">{{ menu_item.price }}</p>
  </div>
</li>