<div class="site-footer">
  <div class="footer-container-desktop">

    <h3 class="footer-text-header">Want more photo menus?</h3>
    <p class="footer-answer">
       Tell us the names of other restaurants you'd like to see PocketMenu go to next.
    </p>

    <div class="footer-desktop">
      <h3 class="footer-question">Have an idea for an improvement?</h3>
      <p class="footer-answer">
         Pocket Menu’s mission is to create the best menu possible.
         We’d love to hear any ideas that you have!
      </p>
    </div>

    <div class="footer-desktop">
      <h3 class="footer-question">Have a comment, question, or concern?</h3>
      <p class="footer-answer">
         We are always trying to improve Pocket Menu. With your input, we can make it even better!
      </p>
    </div>
    <div>
      <a href="#" class="footer-contact-us">Contact Us!</a>
    </div>

  </div>
</div>