{% load staticfiles %}
<div class="header">
  {% include "PhotoMenu/Snippets/Logo.html" %}
  {% include "PhotoMenu/Snippets/HeaderSearchBar.html" %}
{#  <img class="hamburger-icon" src="{% static "PhotoMenu/Images/Icons/WhiteHamburgerIcon.png" %}">#}
  <span class="hamburger-icon-middle"></span>
  <span class="header-links-separator"></span>
  <a class="contact-us-link" href="{% url "PhotoMenu:contact_page" %}">Contact Us</a>
  {% include "PhotoMenu/Snippets/FavoritesLink.html" %}
  <img class="search-icon" src="{% static "PhotoMenu/Images/Icons/WhiteSearchIcon.png" %}">
</div>
<div class="mobile-categories-menu-wrapper">
  <div class="categories-menu-background-overlay"></div>
  <ul class="mobile-categories-menu-list">
    <li class="categories-menu-category-option">
      <h3 class="categories-menu-category-name">My Favorites</h3>
      <p class="category-items-count">0 items, keep browsing!</p>
    </li>
    <li class="categories-menu-category-option">
      <h3 class="categories-menu-category-name">Beverages</h3>
      <p class="category-items-count">2 items</p>
    </li>
    <li class="categories-menu-category-option">
      <h3 class="categories-menu-category-name">Amazin Green Salads</h3>
      <p class="category-items-count">2 items</p>
    </li>
    <li class="categories-menu-category-option">
      <h3 class="categories-menu-category-name">Build Your Own Pizza</h3>
      <p class="category-items-count">4 items</p>
    </li>
    <li class="categories-menu-category-option">
      <h3 class="categories-menu-category-name">Oven Baked Sandwiches</h3>
      <p class="category-items-count">8 items</p>
    </li><li class="categories-menu-category-option">
      <h3 class="categories-menu-category-name">Domino's Penne Pasta</h3>
      <p class="category-items-count">5 items</p>
    </li><li class="categories-menu-category-option">
      <h3 class="categories-menu-category-name">Domino's America Legends</h3>
      <p class="category-items-count">8 items</p>
    </li>
    <li class="categories-menu-category-option">
      <h3 class="categories-menu-category-name">Feast Pizzas</h3>
      <p class="category-items-count">6 items</p>
    </li>
    <li class="categories-menu-category-option">
      <h3 class="categories-menu-category-name">Sides</h3>
      <p class="category-items-count">6 items</p>
    </li>
    <li class="categories-menu-category-option">
      <h3 class="categories-menu-category-name">Desserts</h3>
      <p class="category-items-count">2 items</p>
    </li>



  </ul>
</div>