{% load staticfiles %}
<div class="header-search-bar-with-icon">
  <img class="header-search-bar-search-icon" src="{% static "PhotoMenu/Images/Icons/WhiteSearchIcon.png" %}">
  <input class="header-search-bar" placeholder="e.g. restaurant or food" type="text">
  <ul class="header-search-suggestions-list">
    <li class="header-search-suggestion-options">
      <a href="#" class="header-search-suggestion-link">Hamburger</a>
    </li>
    <li class="header-search-suggestion-options">
      <a href="#" class="header-search-suggestion-link">Pizza</a>
    </li>
    <li class="header-search-suggestion-options">
      <a href="#" class="header-search-suggestion-link">Salads</a>
    </li>
    <li class="header-search-suggestion-options">
      <a href="#" class="header-search-suggestion-link">Soda</a>
    </li>
  </ul>
</div>
