<div class="dark-background-overlay"></div>
<div class="inspector-view-wrapper">
  <div class="inspector restaurant-header">
    <h2 class="inspector restaurant-name">Kathy's Asian Kitchen</h2>
  </div>
  <div class="inspector main-view">
    <img src="../../../static/PhotoMenu/Images/Crispy Shrimp.jpg" class="inspector food-image">
    <div class="directions-and-food-interest">
      <span class="inspector left-arrow"></span>
      <span class="inspector like-food-icon"></span>
      <span class="inspector right-arrow"></span>
    </div>
  </div>
  <div class="inspector food-details">
    <h3 class="inspector food-name">Crispy Shrimp</h3>
    <p class="inspector food-description">
      Jumbo shrimp and shiitake mushroom fried and glazed with warm spicy mayo.
    </p>
    <p class="inspector food-price">11.00</p>
  </div>
  <div class="inspector food-category-details">
    <h4 class="inspector food-category-name">Fresh Tempora</h4>
    <p class="inspector food-category-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing
      elit, sed do eiusmod tempor incididunt ut labore
    </p>
  </div>
</div>