{% if error_message %}
  <h1><strong>{{ error_message }}</strong></h1>
{% endif %}


<form class="search-bar-form" action="{% url 'PhotoMenu:search_results_page' %}"
  method="post">
  {% csrf_token %}
  <div class="search-bar-wrapper">

    <!--Select drop down menu-->
    <select class="select-search-type">
      <option value="restaurant">Restaurant</option>
      <option value="restaurant">Food</option>
    </select>

    <!--Search bar and search suggestions-->
    <div class="search-bar-and-suggestions">
      {% if query_string %}
        <input type="text" class="search-bar" name="search-bar" placeholder="Search for Restaurants"
          value="{{ query_string }}" autocomplete="off" >
      {%  else %}
        <input type="text" class="search-bar" name="search-bar" placeholder="Search for Restaurants"
          value="" autocomplete="off">
      {% endif %}
      <ul class="search-suggestions-list"></ul>

    </div>

    <!--Search button with white search icon-->
    <input type="submit" class="search-submit-button" value="">

    <!--Mobile search button-->
    <button class="search-button">Search</button>
  </div>
</form>

