<div class="mobile-search-background-overlay"></div>
<form class="mobile-search-modal-form">
  <div class="mobile-search-select-wrapper">
    <select class="mobile-select-search-type">
      <option class="mobile-search-option">Kathy's Asian Kitchen</option>
      <option class="mobile-search-option">All Restaurants</option>
      <option class="mobile-search-option">All Foods</option>
    </select>
    <span class="mobile-search-select-triangle"></span>
  </div>
  <div class="current-page-search-wrapper">
    <span class="current-page-search-icon"></span>
    <input placeholder="Search 'My Favorites'..." class="current-page-search-bar" type="text">
  </div>
  <input class="submit-mobile-search-modal" type="submit">
  <button class="close-mobile-search-modal" value="Cancel"></button>
</form>