<div class="mobile-modal-search-container">
  <div class="mobile-search-background-overlay"></div>
  <form class="mobile-search-modal-form">
    <div class="mobile-search-select-wrapper">
      <select class="mobile-select-search-type">
        <option class="mobile-search-option">Kathy's Asian Kitchen</option>
        <option class="mobile-search-option">All Restaurants</option>
        <option class="mobile-search-option">All Foods</option>
      </select>
      <span class="mobile-search-select-triangle"></span>
    </div>
    <div class="mobile-modal-search-bar-wrapper">
      <span class="mobile-modal-search-bar-icon"></span>
      <input placeholder="e.g. Hamburgers, pad thai, etc." class="mobile-modal-search-bar" type="text">
    </div>
    <input class="submit-mobile-search-modal" type="submit" value="Search">
    <span class="close-mobile-search-modal">Cancel</span>
  </form>
</div>
