<!-- Relevant CSS files -->
{# <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/AllInspectorViews.css" %}"> #}
{# <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/MobileInspectorView.css" %}"> #}

<!-- Relevant JS files -->
{# <script src="{%  static "PhotoMenu/JS/DocumentModule.js" %}" type="text/javascript"></script> #}
{# <script src="{%  static "PhotoMenu/JS/FoodEntry.js" %}" type="text/javascript"></script> #}
{# <script src="{%  static "PhotoMenu/JS/SwipeGesture.js" %}" type="text/javascript"></script> #}
{# <script src="{%  static "PhotoMenu/JS/AllInspectorView.js" %}" type="text/javascript"></script> #}

{% load staticfiles %}
<div class="mobile-inspector-background-overlay"></div>
<ul class="list-of-mobile-inspectors">
  <li class="mobile-inspector-view-wrapper">
    <div class="inspector restaurant-header">
      <span class="close-inspector-icon"></span>
      <h2 class="inspector restaurant-name"><a href="#">Kathy's Asian Kitchen</a></h2>
      <a href="#" class="inspector restaurant-page-link"></a>
    </div>
    <div class="inspector food-category-details">
      <h4 class="inspector food-category-name">Fresh Tempora</h4>
      <p class="inspector food-category-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore Lorem ipsum dolor sit amet,
      </p>
    </div>
    <div class="inspector main-view">
      <img src="{% static "PhotoMenu/Images/MockPhotos/CrispyShrimp.jpg" %}" class="inspector food-image">
      <div class="directions-and-food-interest">
        <span class="inspector left-arrow"></span>
        <span class="inspector interested-in-food-icon not-like-food"></span>
        <span class="inspector right-arrow"></span>
      </div>
    </div>
    <div class="inspector food-details">
      <h3 class="inspector food-name">Crispy Shrimp</h3>
      <p class="inspector food-description">
        Jumbo shrimp and shiitake mushroom fried and glazed with warm spicy mayo.
      </p>
      <p class="inspector food-price">11.00</p>
    </div>
  </li>
</ul>