<!-- Relevant CSS files -->
{# <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/RestaurantEntry.css" %}"> #}

<!-- Relevant JS files -->

{% load staticfiles %}

<li class="restaurant-entry-li">
  <a class="restaurant-entry-wrapper">
    <div class="restaurant-entry-image">
      <img src="{{ restaurant.get_restaurant_url_path }}" alt="{{ restaurant.name }}">
    </div>
    <h4 class="restaurant-entry-name">{{ restaurant.name }} </h4>
    <p class="restaurant-entry-address"> </p>
    {% for item in retaurant.compute_store_hours %}
      <p class="restaurant-entry-hours"><span class="day-wrapper">{{ item.0 }}</span> {{ item.1|time:"g:iA"|lower}}-{{ item.2|time:"g:iA"|lower}}</p>
    {% endfor %}
  </a>
</li>