<!-- Relevant CSS files -->
{# <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/RestaurantEntry.css" %}"> #}

<!-- Relevant JS files -->

{% load staticfiles %}

<li class="restaurant-entry-li">
  <a class="restaurant-entry-wrapper" href="{% url "PhotoMenu:restaurant_homepage" restaurant.get_restaurant_url_path %}">
    <h2 class="restaurant-entry-name">{{ restaurant.name }} </h2>
{#    <div class="restaurant-entry-image">#}
{#      <img src="{{ restaurant.header_image.url }}" alt="{{ restaurant.name }}">#}
{#    </div>#}
    <p class="restaurant-entry-address">{{ restaurant.address }} </p>
    {% for item in restaurant.compute_store_hours %}
      <p class="restaurant-entry-hours"><span class="day-wrapper">{{ item.0 }}</span> {{ item.1|time:"g:iA"|lower}}-{{ item.2|time:"g:iA"|lower}}</p>
    {% endfor %}
  </a>
</li>