body{
    font-family: "Helvetica Neue";
    background-color: #EEEEEE
}

.header{
    width: 100%;
    height: 45px;
    background-color: #FF9800;
}
h1.brand-name-logo{
    font-family: 'Nothing You Could Do', cursive;
    display: inline-block;
    height: 45px;
    line-height: 50px;
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 22px;
}
a.my-favorites-button{
    color: #FFF;
    font-size: 12px;
    padding: 9px 10px 9px 10px;
    border: 1px solid #FFF;
    float: right;
    margin: 6px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.contact-page-header{
    height: 78px;
    background-image: url("../Images/IndianFood.png");
    background-position: 0px 0px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.dark-overlay{
    background-color: rgba(0,0,0,0.4);
}
h1.picture-text{
    text-align: center;
    vertical-align: middle;
    line-height: 78px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
h1.text-header{
    font-size: 20px;
    font-weight: 500;
    color: #555555;
    padding-top: 10px;
    margin-left: 4%;
}
.divider-line{
    margin-left: 4%;
    margin-top: 12px;
}
.contact-us-text{
    margin-top: 10px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 12px;
    font-size: 14px;
    color: #555555;
}
.input-field-name{
    margin-top: 10px;
    margin-left: 4%;
    font-size: 14px;
    color: #555555
}
.text-input-field{
    margin-top: 8px;
    margin-left: 4%;
    padding-left: 1%;
    font-size: 16px;
    color: #333333;
    width: 91%;
    height: 28px;
    border: 1px solid #979797;
    border-radius: 5px;
}
textarea{
    margin-top: 8px;
    margin-left: 4%;
    padding-left: 1%;
    padding-top: 1%;
    width: 91%;
    height: 150px;
    font-size: 16px;
    resize: none;
    color: #333333;
    border: 1px solid #979797;
    border-radius: 5px;
}
.send-message{
    margin-left: 4%;
    margin-top: 12px;
    background: transparent;
    width: 92%;
    height: 30px;
    border: 2px solid #ff9800;
    color: #ff9800;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
}
.contact-footer{
    margin-top: 20px;
    height: 45px;
    width: 100%;
    background-color: #555555;
}
