/*------Website Navbar-------*/

nav{
    width: 100%;
    height: 45px;
    background-color: #FF9800;
}

h1.brand-name-logo{
    font-family: 'Nothing You Could Do', cursive;
    display: inline-block;
    height: 45px;
    line-height: 50px;
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 22px;
}

span.header-search-icon{
    background-image: url("../Images/WhiteSearchIcon.png");
    -webkit-background-size: 20px 20px;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    float: right;
    margin: 13px 15px 0px 0px;

}

/*-------Title and Background------*/
div.header-background{
    width: 100%;
    height: 80px;
    background-image: url("../Images/Indian Food.jpg");
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

div.background-image-dark-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}

h1.favorites-header{
    text-align: center;
    color: #FFFFFF;
    line-height: 80px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
/*-------Filter and Search-------*/
div.filter-and-search-section{
    width: 100%;
    background-color: #FFFFFF;
    height: 35px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

ul.filter-options-list{
    margin: 0px auto 0px auto;
    
}

li.filter-option{
    display: inline-block;
    height: 33px;
    line-height: 35px;
    padding: 0px 10px 0px 10px;
    border-bottom: 2px solid transparent;
}

span.filter-name{
    font-size: 14px;
    font-weight: 300;
    color: #555555;
}

li.filter-option.chosen-filter{
    border-bottom: 2px solid #FF9800;
}

/*-------Food Sections------*/
ul.list-of-food-lists{

}

@media (min-width: 355px) {
    div.filter-and-search-section{
        height: 45px;
    }

    li.filter-option{
        height: 43px;
        line-height: 45px;
    }

    span.filter-name{
        font-size: 16px;
    }
}