/*------Website Navbar-------*/

nav{
    width: 100%;
    height: 45px;
    background-color: #FF9800;
}

.navbar-desktop{
    display: none;
}

h1.brand-name-logo{
    font-family: 'Nothing You Could Do', cursive;
    display: inline-block;
    height: 45px;
    line-height: 50px;
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 22px;
}

span.navbar-mobile.header-search-icon{
    background-image: url("../Images/WhiteSearchIcon.png");
    -webkit-background-size: 20px 20px;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    float: right;
    margin: 13px 15px 0px 0px;

}

/*-------Title and Background Image------*/
div.header-background{
    width: 100%;
    height: 80px;
    background-image: url("../Images/Indian Food.jpg");
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

div.background-image-dark-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}

h1.favorites-header{
    text-align: center;
    color: #FFFFFF;
    line-height: 80px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
/*-------Filter and Search-------*/
div.filter-and-search-section{
    width: 100%;
    background-color: #FFFFFF;
    height: 35px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

ul.filter-options-list{
    margin: 0px auto 0px auto;
    
}

li.filter-option{
    display: inline-block;
    height: 33px;
    line-height: 35px;
    padding: 0px 10px 0px 10px;
    border-bottom: 2px solid transparent;
}

span.filter-name{
    font-size: 14px;
    font-weight: 300;
    color: #555555;
}

li.filter-option.chosen-filter{
    border-bottom: 2px solid #FF9800;
}

div.current-page-search-wrapper{
    display: none;
}

/*-------Food Sections------*/
ul.list-of-food-lists{

}

ul.food-type-section-food-list{
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 355px) {

    nav{
        height: 55px;
    }

    h1.brand-name-logo{
        line-height: 60px;
        font-size: 24px;
    }

    span.navbar-mobile.header-search-icon{
        width: 23px;
        height: 23px;
        margin: 16px 15px 0px 10px;
    }

    div.filter-and-search-section{
        height: 45px;
    }

    li.filter-option{
        height: 43px;
        line-height: 45px;
    }

    span.filter-name{
        font-size: 16px;
    }
}

@media (min-width: 480px) {

    ul.food-type-section-food-list{
        width: 91%;
        margin: 0px 0px 0px 4%;
        padding: 0px 4px 0px 0px;
    }
}


@media (min-width: 650px) {

    div.header-background {
        height: 120px;
    }

    h1.favorites-header {
        line-height: 120px;
        font-size: 24px;
    }

    ul.filter-options-list{
        display: inline-block;
        float: left;
        margin: 0px 0px 0px 20px
    }

    div.current-page-search-wrapper{
        display: inline-block;
        margin: 10px 10px 0px 0px;
        float: right;
        height: 25px;
        width: 30%;
        max-width: 300px;
        -webkit-box-shadow: inset 0px 1px 0px 0px #ECECEC;
        -moz-box-shadow: inset 0px 1px 0px 0px #ECECEC;
        box-shadow: inset 0px 1px 0px 0px #ECECEC;
        border: 1px solid #CCCCCC;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;;
        border-radius: 3px;;
    }

    input.current-page-search-bar{
        width: calc(100% - 30px);
        height: 24px;
        position: relative;
        bottom: -1px;
        right: 5px;
        font-size: 14px;
        padding: 0px 0px 0px 10px;
        box-sizing: border-box;
    }

    input.current-page-search-bar:focus{

    }

    span.current-page-search-icon{
        display: inline-block;
        background-image: url("../Images/GreySearchIcon.png");
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
        width: 15px;
        height: 15px;
        position: relative;
        top: 3px;
    }

}

@media (min-width: 800px) {
    .navbar-desktop{
        display: inline-block;
    }

    span.navbar-mobile.header-search-icon{
        display: none;
    }

    div.navbar-desktop.header-search-bar{
        margin: 15px 0px 0px calc(50% - 147px - (265px / 2));
        opacity: .6;
    }

    span.navbar-desktop.header-search-icon{
        width: 23px;
        height: 23px;
        background-image: url("../Images/WhiteSearchIcon.png");
        background-size: 100% auto;
    }

    input.navbar-desktop.header-search-input{
        height: 25px;
        background-color: transparent;
        position: relative;
        bottom: 6px;
        margin: 0px 0px 0px 5px;
        color: #FFFFFF;
        width: 230px;
    }

    input.navbar-desktop.header-search-input::-webkit-input-placeholder{
        color: #FFFFFF;
    }

    a.navbar-desktop.header-contact-us-link{
        float: right;
        padding: 10px 10px 10px 10px;
        margin: 8px 6px 0px 0px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 300;
    }

    span.navbar-desktop.header-links-separator{
        float: right;
        margin: 10px 4px 0px 0px;
        height: 35px;
        width: 1px;
        background-color: #FFFFFF;
    }

    a.navbar-desktop.header-my-favorites-link{
        color: #FFF;
        padding: 9px 10px 9px 10px;
        float: right;
        text-decoration: none;
        font-size: 16px;
        margin: 8px 6px 0px 0px;
        font-weight: 300;
    }

}

@media (min-width: 1200px) {

    ul.list-of-food-lists{
        max-width: 1210px;
        margin: 0px auto 0px auto;
    }
}