body{
    font-family: "Helvetica Neue";
    background-color: #EEEEEE
}
.header{
    width: 100%;
    height: 45px;
    background-color: #FF9800;
}
h1.brand-name-logo{
    font-family: 'Nothing You Could Do', cursive;
    display: inline-block;
    height: 45px;
    line-height: 50px;
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 22px;
}
