div.dark-background-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(238,238,238,0.9);
}

div.inspector-view-wrapper{
    width: 96%;
    height: 100%;
    position: fixed;
    top: 1%;
    left: 2%;
    overflow: scroll;
}

div.inspector{
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.1), 0px -1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.1), 0px -1px 3px rgba(0,0,0,.1);
    box-shadow: 0px 1px 3px rgba(0,0,0,.1), 0px -1px 3px rgba(0,0,0,.1);
    width: 100%;
    background-color: #FFFFFF;
    margin: 0px 0px 5px 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
}

div.inspector.restaurant-header{
    position: relative;
}

div.inspector.restaurant-header::after{
    content: '';
    width: 15px;
    height: 20px;
    display: inline-block;
    background-image: url("../Images/ClickableLinkIcon.png");
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    right: 3%;
    top: -webkit-calc(50% - 12px);
    top: calc(50% - 8px);
}

h2.inspector.restaurant-name{
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

div.inspector.main-view{

}

img.inspector.food-image{
    width: 100%;
    height: auto;
}

div.directions-and-food-interest{
    height: 30px;
    margin: 5px 0px 0px 0px;
    text-align: center;
}

span.inspector.left-arrow{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url("../Images/LeftArrowIcon.png");
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    float: left;
}

span.inspector.like-food-icon{
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url("../Images/FullHeartIcon.png");
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

span.inspector.right-arrow{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url("../Images/RightArrowIcon.png");
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    float: right;
}

div.inspector.food-details{

}

h3.inspector.food-name{
    font-size: 16px;
    margin: 0px 0px 7px 0px;
    font-weight: bold;
}

p.inspector.food-description{
    font-size: 14px;
    margin: 0px 0px 10px 0px;
    line-height: 16px;
}

p.inspector.food-price{
    color: #FF9800;
    font-size: 14px;
    font-weight: bold;
}

h4.inspector.food-category-name{
    font-size: 16px;
    color: #333333;
    margin: 0px 0px 5px 0px;
}

p.inspector.food-category-description{
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
}