body{
    font-family: "Helvetica Neue";
    background-color: #EEEEEE;
}

nav{
    width: 100%;
    height: 45px;
    background-color: #FF9800;
}
h1.brand-name-logo{
    font-family: 'Nothing You Could Do', cursive;
    display: inline-block;
    height: 45px;
    line-height: 50px;
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 22px;
}
a.my-favorites-button{
    color: #FFF;
    font-size: 12px;
    padding: 9px 10px 9px 10px;
    border: 1px solid #FFF;
    float: right;
    margin: 6px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
h1.search-page-title{
    font-size: 24px;
    font-weight: 200;
    color: #555555;
    margin: 15px 0px 10px 0px;
    text-align: center;
}

div.search-options-wrapper{
    width: 90%;
    margin: 16px auto 0px auto;
    color: #555555;
}

span.search-option{
    width: 49%;
    height: 100%;
    text-align: center;
    border-bottom: 4px solid transparent;
    padding: 0px 0px 5px 0px;
}

span.search-option-left{
    float: left;
}

span.search-option-right{
    float: right;
}

span.selected-search-option{
    border-bottom: 4px solid #FF9800;
    color: #FF9800;
    height: 16px;
}

form.search-bar-form{
    width: 90%;
    height: 30px;
    margin: 0px auto 0px auto;
    position: relative;
}

input.search-results-search-bar{
    height: 100%;
    width: 70%;
    display: inline-block;
}

input.search-results-submit-button{
    width: 12%;
    height:100%;
    display: inline-block;
    background-color: #448AFF;
    color: #FFFFFF;
    border: 0px;
}