/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border: 0;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
	line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
}



input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
html{
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
    padding-bottom: 165px;
    padding-top: 45px;
    font-family: "Helvetica Neue", "SansSerif";
    background-color: #EEEEEE;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h3.food-item-restaurant-name{
    display: none;
}
/* Large mobile view */
@media (min-width: 355px) {
    body {
        padding-bottom: 170px;
        padding-top: 55px;
    }
}

/* Desktop view */
@media (min-width: 800px) {
    body {
        padding-bottom: 270px;
    }
}
.favorites-link{
    padding: 8px;
    border: 2px solid white;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    font-size: 15px;
}

/* Large mobile view */
@media (min-width: 355px) {
    .favorites-link{
        font-size: 20px;
        padding: 10px;
    }
}

/* Desktop view */
@media (min-width: 800px) {
    .favorites-link{
        padding: 0px;
        border: none;
        font-size: 18px;
        font-weight: 500;
    }
}

.logo{
    background-image: url('/static/PhotoMenu/Images/Icons/ChompsHamburgerLogo.png?dae4794b0289');
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 180px;
    height: 30px;
    background-position: 0px 0px;
}

/* Large mobile view */
@media (min-width: 355px) {
    .logo{
        height: 40px;
    }
}
.header-search-bar-with-icon{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 255px;
}
.header-search-bar-search-icon{
    display: inline-block;
    position: absolute;
    float: left;
    height: 20px;
    opacity: 0.6;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header-search-bar{
    display: inline-block;
    float: right;
    height: 25px;
    font-size: 18px;
    background-color: transparent;
    color: white;
    width: 230px;
}

.header-search-bar::-webkit-input-placeholder {
    color: white;
    opacity: 0.6;
}
.header-search-bar::-moz-placeholder {
    color: white;
    opacity: 0.6;
}
.header-search-bar:-ms-input-placeholder {
    color: white;
    opacity: 0.6;
}

/*-------------Drop down suggestions list--------------*/
ul.header-search-suggestions-list{
    position: absolute;
    display: none;
    top: 38px;
    left: 0px;
    border-radius: 0px 0px 3px 3px;
    -webkit-box-shadow: 0px 0px 5px 0px #777777;
    -moz-box-shadow: 0px 0px 5px 0px #777777;
    box-shadow: 0px 0px 5px 0px #777777;
    border: 1px solid #cacaca;
}
ul.header-search-suggestions-list a.search-suggestion{
    width: 230px;
}
.search-suggestion{
    display: block;
    padding-left: 10px;
    color: #333333;
    line-height: 35px;
    border-bottom: 1px solid #eeeeee;
    font-size: 14px;
    font-weight: bold;
    background-color: #FFFFFF;
}
.search-suggestion:hover{
    background-color: #eeeeee;
}









/*li.header-search-suggestion-options{*/

    /*background-color: #FFFFFF;*/
    /*font-size: 14px;*/
    /*box-sizing: border-box;*/
    /*border-bottom: 1px solid #EEEEEE;*/
/*}*/

/*a.header-search-suggestion-link{*/
    /*color: #555555;*/
    /*padding: 10px 0px 10px 23px;*/
    /*display: block;*/
/*}*/

/*a.header-search-suggestion-link:hover{*/
    /*background-color: #EEEEEE;*/
    /*cursor: pointer;*/
/*}*/
.header{
    position: fixed;
    top: 0px;
    height: 45px;
    background-color: #FF9800;
    width: 100%;
}
.logo{
    display: inline-block;
    line-height: 45px;
    margin-top: 9px;
    margin-left: 10px;
}
.header-search-bar-with-icon{
    display: none;
}
.favorites-link{
    display: inline-block;
    position: absolute;
    right: 45px;
    margin-top: 4.5px;
}
.header-links-separator{
    display: none;
}
.contact-us-link{
    display: none;
}
.search-icon{
    display: inline-block;
    position: absolute;
    right: 10px;
    margin-top: 11px;
    height: 23px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Large mobile view */
@media (min-width: 355px) {
    .header{
        height: 55px;
    }
    .logo{
        line-height: 55px;
    }
    .favorites-link{
        right: 50px;
        margin-top: 5.5px;
    }
    .search-icon{
        top: 50%;
        height: 30px;
        margin-top: 0px;
    }
}

/* Desktop view */
@media (min-width: 800px) {
    .header-search-bar-with-icon{
        display: inline-block;
    }
    .contact-us-link{
        display: inline-block;
        position: absolute;
        right: 104.66px;
        line-height: 55px;
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
    .header-links-separator{
        display: inline-block;
        position: absolute;
        right: 93.66px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 35px;
        width: 1px;
        background-color: white;
    }
    .favorites-link{
        margin-top: 0px;
        line-height: 55px;
        right: 10px;
    }
    .search-icon{
        display: none;
    }
}
div.mobile-modal-search-container{
    display: none;
}

div.mobile-search-background-overlay{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(230,230,230, .9);
    z-index: 3;
}

form.mobile-search-modal-form{
    position: fixed;
    top: 1%;
    left: 2%;
    width: 96%;
    padding: 20px;
    background-color: #FFFFFF;
    z-index: 4;
    box-sizing: border-box;
    border: 1px solid #c7c7c7;
}

/*--------------Modal Contents------------------*/
div.mobile-search-select-wrapper{
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    padding: 13px 10px 12px 10px;
    font-size: 14px;
    width: 100%;
    color: #555555;
    box-sizing: border-box;
}

select.mobile-select-search-type{
    background-color: transparent;
    width: 100%;
    color: #555555;
    background-image: url('/static/PhotoMenu/Images/Icons/BlackDownTriangle.png?dae4794b0289');
    -webkit-background-size: 12px auto;
    background-size: 10px auto;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

span.mobile-search-select-triangle{
    display: block;
    position: absolute;
    right: 4%;
    top: 50%;
    border-top: 8px solid #555555;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    transform: translateY(-50%);
}

div.mobile-modal-search-bar-wrapper{
    position: relative;
    width: 100%;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ECECEC;
    -moz-box-shadow: inset 0px 1px 0px 0px #ECECEC;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 8px 0px 8px 10px;
    box-sizing: border-box;
    margin: 10px 0px 0px 0px;
}

input.mobile-modal-search-bar{
    width: calc(100% - 30px);
    height: 27px;
    position: relative;
    bottom: -1px;
    right: 0px;
    font-size: 14px;
    padding: 0px 0px 0px 7px;
    box-sizing: border-box;
}

span.mobile-modal-search-bar-icon{
    display: inline-block;
    background-image: url('/static/PhotoMenu/Images/Icons/GreySearchIcon.png?dae4794b0289');
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 18px;
    height: 18px;
    position: relative;
    top: 6px;
    left: 3px;
}

ul.mobile-search-suggestions-list{
    display: none;
    position: absolute;
    width: 100%;
    top: 44px;
    left: 0px;
    box-sizing: border-box;
    border-radius: 3px 3px 3px 3px;
    -webkit-box-shadow: 0px 0px 5px 0px #777777;
    -moz-box-shadow: 0px 0px 5px 0px #777777;
    box-shadow: 0px 0px 5px 0px #777777;
    border: 1px solid #cacaca;
    overflow: hidden;
    z-index: 1;
}

ul.mobile-search-suggestions-list li.search-suggestion{
    width: 100%;
}

input.submit-mobile-search-modal{
    width: 100%;
    height: 45px;
    background-color: #4A90E2;
    color: white;
    font-weight: bold;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 10px 0px 0px 0px;
    letter-spacing: 0.5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

span.close-mobile-search-modal{
    background-color: transparent;
    color: #555555;
    font-size: 14px;
    margin: 20px auto 0px auto;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media (min-width: 800px) {
    div.mobile-modal-search-container{
        display: none;
    }
}
body{
    padding-bottom: 60px;
}

.contact-us-link{
    display: none;
}
.header-links-separator{
    display: none;
}
.contact-page-header{
    height: 78px;
    background-position: 0px 0px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.dark-overlay{
    background-color: rgba(0,0,0,0.4);
}
.picture-text{
    text-align: center;
    vertical-align: middle;
    line-height: 78px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.contact-us-header-container{
    width: 92%;
    margin: 0px auto 0px auto;
    max-width: 400px;
}
.contact-us-form{
    width: 92%;
    margin: 0px auto 0px auto;
    max-width: 400px;
}
.text-header{
    font-size: 20px;
    font-weight: 500;
    color: #555555;
    margin-top: 10px;
    /*margin-left: 4%;*/
    width: 100%;
}
.divider-line{
    /*margin-left: 4%;*/
    margin-top: 12px;
    width: 100%;
    border-bottom: 2px solid #FF9800;
}
.contact-us-text{
    margin-top: 10px;
    /*margin-left: 4%;*/
    /*margin-right: 4%;*/
    margin-bottom: 15px;
    font-size: 14px;
    color: #555555;
    width: 100%;
}
.input-field-name{
    margin-top: 12px;
    /*margin-left: 4%;*/
    font-size: 14px;
    color: #555555
}
.text-input-field{
    margin-top: 8px;
    /*margin-left: 4%;*/
    padding-left: 10px;
    font-size: 14px;
    color: #333333;
    width: 100%;
    height: 28px;
    border: 1px solid #979797;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.message-area{
    margin-top: 8px;
    /*margin-left: 4%;*/
    padding-left: 10px;
    padding-top: 8px;
    width: 100%;
    height: 150px;
    font-size: 14px;
    resize: none;
    color: #333333;
    border: 1px solid #979797;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.send-message{
    /*margin-left: 4%;*/
    margin-top: 12px;
    background: transparent;
    width: 100%;
    /* height: 30px; */
    border: 2px solid #ff9800;
    color: #ff9800;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    padding: 10px 0px 10px 0px;
}
.contact-footer{
    position: absolute;
    bottom: 0px;
    height: 45px;
    width: 100%;
    background-color: #555555;
}

/* Large mobile view */
@media (min-width: 355px) {
    .contact-page-header{
        height: 110px;
        margin-bottom: 5px;
    }
    .picture-text{
        line-height: 110px;
        font-size: 30px;
        letter-spacing: .5px;
    }
    .text-header{
        font-size: 22px;
        margin-top: 15px;
    }
    .contact-us-text{
        margin-top: 12px;
        font-size: 16px;
    }
    .input-field-name{
        font-size: 16px;
    }
    .text-input-field{
        height: 32px;
        font-size: 16px;
    }
    .message-area{
        font-size: 16px;
        padding-top: 10px;
    }
    .send-message{
        margin-top: 15px;
        font-size: 18px;
    }
}

@media (min-width: 800px) {
    .contact-page-header{
        height: 150px;
        background-position: 0px -100px;
    }
    .picture-text{
        line-height: 150px;
        font-size: 36px;
    }
    .text-header{
        margin-top: 20px;
        font-size: 28px;
    }
    .divider-line{
        width: 100%;
    }
    .contact-us-text{
        margin-bottom: 20px;
        font-size: 16px;
    }
    .contact-us-header-container{
        max-width: 600px;
    }
    .contact-us-form{
        max-width: 600px;
    }
    .input-field-name{
        font-size: 16px;
    }
    .text-input-field{
        height: 34px;
        font-size: 14px;
        width: 50%;
    }
    .message-area{
        font-size: 14px;
        width: 100%
    }
    .send-message{
        margin-top: 20px;
        font-size: 16px;
        max-width: 200px;
    }
    .send-message:hover{
        cursor: pointer;
        background-color: #FF9800;
        color: #FFFFFF;
    }
}
