@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

html{
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
    padding-bottom: 165px;
    padding-top: 45px;
    font-family: "Helvetica Neue", "Roboto", "sans-serif";
    background-color: #EEEEEE;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h3.food-item-restaurant-name{
    display: none;
}

/* Large mobile view */
@media (min-width: 355px) {
    body {
        padding-bottom: 170px;
        padding-top: 55px;
    }
}

/* Desktop view */
@media (min-width: 800px) {
    body {
        padding-bottom: 270px;
    }
}