div.filter-and-search-section{
    width: 100%;
    background-color: #FFFFFF;
    height: 45px;
    text-align: center;
    box-shadow: 0px 0px 6px 0px #9B9B9B;
    display: none;
    border-top: 1px solid #BBBBBB;
}
ul.filter-options-list{
    margin: 0px auto 0px auto;
    display: inline-block;
}
li.filter-option{
    display: inline-block;
    height: 43px;
    line-height: 45px;
}
span.filter-name{
    font-size: 16px;
    color: #555555;
    padding-left: 10px;
    padding-right: 10px;
}
span.hidden-filter-name{
    font-size: 16px;
    color: #555555;
}
span.filter-name:hover{
    color: #FF9800;
    cursor: pointer;
}
span.hidden-filter-name:hover{
    color: #FF9800;
    cursor: pointer;
}

/*-----------Sliding Under-bar-----------*/
hr.sliding-underbar {
    height: 3px;
    width: 0px;
    margin-left: 0px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    background: #FF9800;
    border: none;
    position: relative;
    bottom: 1px;
}

/*---------More Options DropDown Menu----------*/

li.more-options-options{
    position: relative;
    display: inline-block;
    height: 43px;
    line-height: 45px;
}
i.more-options-drop-down-icon{
    content: '';
    background-image: url("../../Images/Icons/DropDownIcon.png");
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: inline-block;
    width: 12px;
    height: 6px;
    position: absolute;
    right: -10px;
    top: calc(50% - 2px);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .20s linear;
    transition: .20s linear;
}
ul.more-filter-options-list{
    display: none;
    position: absolute;
    left: 50%;
    background-color: white;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.25);
    border-left: 1px solid #CACACA;
    border-right: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
}
li.hidden-filter-option{
    line-height: normal;
    width: 150px;
    background: white;
    padding: 10px;
    border-bottom: 1px solid #CACACA;
}
div.current-page-search-wrapper{
    display: none;
}

@media (min-width: 800px){
    ul.filter-options-list {
        display: inline-block;
        float: left;
        margin: 0px 0px 0px 20px;
    }
    div.current-page-search-wrapper{
        display: inline-block;
        margin: 7px 10px 0px 0px;
        float: right;
        height: 30px;
        width: 30%;
        max-width: 300px;
    }
    input.current-page-search-bar{
        width: calc(100% - 30px);
        height: 27px;
        position: relative;
        bottom: -1px;
        right: 0px;
        font-size: 14px;
        padding: 0px 0px 0px 7px;
        box-sizing: border-box;
    }
    span.current-page-search-icon{
        display: inline-block;
        background-image: url("../../Images/Icons/GreySearchIcon.png");
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
        width: 18px;
        height: 18px;
        position: relative;
        top: 6px;
        left: 3px;
    }
    div.filter-and-search-section{
        display: block;
    }

}


body.fix-filter-search {
	padding-top: 45px;
}
div.fix-filter-search{
	position: fixed;
	top: 45px;
}

@media(min-width: 355px) {
	body.fix-filter-search {
		padding-top: 55px;
	}
	div.fix-filter-search{
		top: 55px;
	}
}
@media(min-width: 800px) {
	body.fix-filter-search {
		padding-top: 100px;
	}
}
