li.food-entry-li, li.ghost-food-item{
    margin: 5px 1% 0px 1%;
    width: 48%;
    max-width: 290px;
}

li.ghost-food-item{
    height: 0px;
}

h3.food-item-restaurant-name{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    color: #333333;
}

div.food-entry-wrapper{
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #D2D2D2;
    -webkit-box-shadow: 0px -1px 3px rgba(0,0,0,.1), 0px 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0px -1px 3px rgba(0,0,0,.1), 0px 1px 3px rgba(0,0,0,.1);
    box-shadow: 0px -1px 3px rgba(0,0,0,.1), 0px 1px 3px rgba(0,0,0,.1);
}

h4.food-entry-name{
    font-size: 13px;
    overflow: hidden;
    text-align: left;
    margin: 3% 0px 3% 4%;
    font-weight: bold;
    /*-ms-text-overflow: ellipsis;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    width: 92%;
    color: rgb(53,53,53);
}

p.food-description-name{
    display: none;
}

div.food-entry-image{
    width: 92%;
    margin: 4% 4% 0% 4%;
}

div.food-entry-image img{
    width: 100%;
    height: auto;
}

li.unloaded-image img{
    background-color: #EEEEEE;
    height: auto;
    width: 100%;
    padding: 23% 10px 23% 10px;
    box-sizing: border-box;
}

p.food-entry-price{
    width: 100%;
    font-size: 13px;
    color: #FF9800;
    margin: 3px 0px 4% 4%;
    font-weight: bold;
}

/*-----------------Large Mobile----------------*/
@media (min-width: 365px) {

    div.food-entry-wrapper{
        padding: 0px;
    }

    h4.food-entry-name{
        font-size: 14px;
    }

    p.food-entry-price{
        font-size: 14px;
    }
}

/*-----------------Tablet----------------*/
@media (min-width: 480px) {
    h4.food-entry-name{
        margin: 5px 0px 5px 4%;
    }

    p.food-description-name{
        display: block;
        font-size: 14px;
        overflow: hidden;
        margin: 0px 0px 7px 4%;
        color: rgb(120,120,120);
        width: 92%;
        line-height: 16px;
    }

    div.food-entry-wrapper{
        /*background-color: transparent;*/
        /*border: 0px;*/
        /*-webkit-box-shadow: none;*/
        /*-moz-box-shadow: none;*/
        /*box-shadow: none;*/
    }
}

/*--------------Desktop-----------------*/
@media (min-width: 670px) {
    li.food-entry-li, li.ghost-food-item{
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-basis: 215px;
        flex-basis: 215px;
        width: 290px;
        margin: 0px 1% 15px 1%;
    }
}
