li.food-type-section-wrapper{
    margin-bottom: 20px;
}
h3.food-type-section-header{
    color: #555555;
    margin: 30px auto 5px auto;
    padding-left: 2%;
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
}

@media (min-width: 355px) {
    h3.food-type-section-header{
        width: 91%;
        font-size: 24px;
        padding-left: 1%;
    }
}

@media (min-width: 800px) {
    h3.food-type-section-header{
        margin-top: 50px;
        font-size: 26px;
    }
}