li.food-type-section-wrapper{
    margin: 0px 0px 20px 0px;
}

h3.food-type-section-header{
    width: calc(90% - 10px);
    color: #777777;
    margin: 15px 5% 5px 5%;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #CCCCCC;
    font-size: 18px;
}

ul.food-type-section-food-list{
    overflow: auto;
}

@media (min-width: 600px) {

    h3.food-type-section-header{
        font-size: 20px;
    }

}

@media (min-width: 800px) {

    h3.food-type-section-header{
        font-size: 22px;
    }

}