.header{
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 45px;
    background-color: #FF9800;
    z-index: 1;
}
.logo{
    display: none;
}
.header-search-bar-with-icon{
    display: none;
}
div.hamburger-icon-wrapper{
    display: inline-block;
    width: 30px;
    height: 22px;
    margin: 13px 0px 0px 15px;
    position: relative;
}
span.hamburger-bar-middle{
    width: 30px;
    height: 4px;
    background-color: #FFFFFF;
    position: absolute;
    top: 9px;
    left: 0px;
}
span.hamburger-bar-middle::before{
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
    width: 30px;
    height: 4px;
    background-color: #FFFFFF;
}
span.hamburger-bar-middle::after{
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 30px;
    height: 4px;
    background-color: #FFFFFF;
}
.header-links-separator{
    display: none;
}
.contact-us-link{
    display: none;
}
.favorites-link{
    display: inline-block;
    position: absolute;
    right: 45px;
    margin-top: 4.5px;
}
.search-icon{
    display: inline-block;
    position: absolute;
    right: 10px;
    margin: 11px 0px 0px 0px;
    height: 23px;
    /*-webkit-transform: translateY(-50%);*/
    /*-moz-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
}

/* -----------------Mobile Category Menu--------------------*/
ul.mobile-categories-menu-list{
    position: fixed;
    top: 45px;
    left: 0px;
    overflow: scroll;
    max-height: calc(100% - 45px);
    width: 280px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 1;
}
ul.show-mobile-category-menu{
    display: block;
}
ul.hide-mobile-category-menu{
    display: none;
}
li.mobile-categories-menu-header{
    color: #555555;
    font-weight: 500;
    font-size: 22px;
    padding: 15px 0px 15px 20px;
}
li.categories-menu-category-option{
    width: 100%;
    border-top: 1px solid #EEEEEE;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
}
p.category-items-count{
    font-size: 12px;
    color: #777777;
    margin: 2px 0px 0px 0px;
}
li.current-category{
    background-color: #448AFF;
    color: #FFFFFF;
    font-weight: bold;
}
li.current-category p{
    color: #FFFFFF;
}

/* Large mobile view */
@media (min-width: 355px) {
    .header{
        height: 55px;
    }
    span.hamburger-icon-middle{
        margin: 26px 0px 0px 15px;
    }
    .favorites-link{
        margin-top: 5.5px;
        right: 50px;
    }
    .search-icon{
        height: 30px;
        margin-top: 12.5px;
    }
    div.hamburger-icon-wrapper{
        margin-top: 17px;
        margin-bottom: 16px;
    }
    div.categories-menu-background-overlay{
        top: 55px;
    }
    h1.mobile-categories-menu-header {
        height: 55px;
        line-height: 55px;
    }

    ul.mobile-categories-menu-list{
        top: 55px;
    }
}

/* Desktop view */
@media (min-width: 800px) {
    .logo{
        display: inline-block;
        line-height: 55px;
        margin-left: 10px;
        margin-top: 9px;
    }
    .header-search-bar-with-icon{
        display: inline-block;
    }
    .hamburger-icon{
        display: none;
    }
    .header-links-separator{
        display: inline-block;
        position: absolute;
        right: 93.66px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 35px;
        width: 1px;
        background-color: white;
    }
    .contact-us-link{
        display: inline-block;
        position: absolute;
        right: 104.66px;
        line-height: 55px;
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
    .favorites-link{
        margin-top: 0px;
        line-height: 55px;
        right: 10px;
    }
    .search-icon{
        display: none;
    }
    div.hamburger-icon-wrapper{
        display: none;
    }
    ul.show-mobile-category-menu{
        display: none;
    }
}



