.header-search-bar-with-icon{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 255px;
}
.header-search-bar-search-icon{
    display: inline-block;
    position: absolute;
    float: left;
    height: 20px;
    opacity: 0.6;
    top: 50%;
    transform: translateY(-50%);
}
.header-search-bar{
    display: inline-block;
    float: right;
    height: 25px;
    font-size: 18px;
    background-color: transparent;
    color: white;
    width: 230px;
}

.header-search-bar::-webkit-input-placeholder {
    color: white;
    opacity: 0.6;
}
.header-search-bar::-moz-placeholder {
    color: white;
    opacity: 0.6;
}
.header-search-bar:-ms-input-placeholder {
    color: white;
    opacity: 0.6;
}

/*-------------Drop down suggestions list--------------*/
ul.header-search-suggestions-list{
    position: absolute;
    top: 38px;
    left: 0px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.03);
    border: 1px solid #cacaca;
    display: none;
}

li.header-search-suggestion-options{
    width: 230px;
    background-color: #FFFFFF;
    font-size: 14px;
    box-sizing: border-box;
    border-bottom: 1px solid #EEEEEE;
}

a.header-search-suggestion-link{
    color: #555555;
    padding: 10px 0px 10px 23px;
    display: block;
}

a.header-search-suggestion-link:hover{
    background-color: #EEEEEE;
    cursor: pointer;
}