.header-search-bar-with-icon{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 255px;
}
.header-search-bar-search-icon{
    display: inline-block;
    position: absolute;
    float: left;
    height: 20px;
    opacity: 0.6;
    top: 50%;
    transform: translateY(-50%);
}
.header-search-bar{
    display: inline-block;
    float: right;
    height: 25px;
    font-size: 18px;
    background-color: transparent;
    color: white;
    width: 230px;
    opacity: 0.6;
}

.header-search-bar::-webkit-input-placeholder {
  color: white;
}
.header-search-bar::-moz-placeholder {
  color: white;
}
.header-search-bar:-ms-input-placeholder {
  color: white;
}