/*-------------Search Option Tabs-------------*/
div.search-options-wrapper{
    margin: 16px auto 0px auto;
    color: #555555;
    overflow: auto;
}
span.search-option{
    width: 49%;
}
span.search-option-left {
    float: left;
}
span.search-option-right{
    float: right;
}
input.search-option-radio-btn{
    display: none;
}
input.search-option-radio-btn ~ label.search-option-label{
    display: inline-block;
    width: 100%;
    text-align: center;
    border-bottom: 4px solid transparent;
    padding: 0px 0px 5px 0px;
}
label.search-option-label{

}


/*-------------Search Option Select-----------------*/
select.select-search-type{
    display: none;
    padding: 0px 0px 0px 10px;
    background-image: url("../../Images/Icons/BlackDownTriangle.png");
    -webkit-background-size: 12px auto;
    background-size: 12px auto;
    background-repeat: no-repeat;
    background-position: 110px 19px;
}
/*--------------Search Bar-------------------*/
div.search-bar-and-suggestions{
    position: relative;
}
input.search-bar{
    position: relative;
    z-index: 1;
    padding-left: 10px;
    width: 100%;
    height: 35px;
    border: 1px solid #CACACA;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}
ul.search-suggestions-list{
    display: none;
    position: absolute;
    top: 35px;
    border: 1px solid #eeeeee;
    background-color: white;
    border-radius: 0px 0px 3px 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 5px 0px #777777;
    -moz-box-shadow: 0px 0px 5px 0px #777777;
    box-shadow: 0px 0px 5px 0px #777777;
}
.search-suggestion{
    display: block;
    padding-left: 10px;
    color: #333333;
    line-height: 35px;
    border-bottom: 1px solid #eeeeee;
    font-size: 14px;
    font-weight: bold;
}
.search-suggestion:hover{
    background-color: #eeeeee;
}
input.search-submit-button{
    display: none;
}
button.search-button{
    margin-top: 8px;
    width: 100%;
    height: 35px;
    background: #448AFF;
    color: white;
    border-radius: 5px;
}

/* Large mobile view */
@media (min-width: 355px) {
    input.search-bar{
        height: 40px;
        font-size: 16px;
    }
    ul.search-suggestions-list{
        top: 40px;

    }
    button.search-button{
        height: 40px;
        font-size: 20px;
    }
    label.search-option-label {
        font-size: 18px;
    }
}

/* Desktop view */
@media (min-width: 800px) {
    div.search-options-wrapper {
        display: none;
    }
    div.search-bar-wrapper{
        margin: 0px auto 0px auto;
        height: 45px;
        width: 620px;
        border: 1px solid #CACACA;
        background-color: white;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
    }
    select.select-search-type{
        display: inline-block;
        font-size: 18px;
        float: left;
        height: 45px;
        width: 130px;
        background-color: white;
    }
    div.search-bar-and-suggestions{
        display: inline-block;
        margin-top: 0px;
    }
    input.search-bar{
        width: 400px;
        height: 45px;
        margin-left: 0px;
        border: 0px;
        border-left: 1px solid #CACACA;
        border-radius: 0px;
    }
    ul.search-suggestions-list{
        width: 400px;
        padding-top: 0px;
        top: 45px;
        margin-left: 0px;
        border-top: 1px solid #CACACA;
    }
    input.search-submit-button{
        display: inline-block;
        float: right;
        width: 90px;
        height: 45px;
        background-color: #448AFF;
        background-image: url("../../Images/Icons/WhiteSearchIcon.png");
        background-repeat: no-repeat;
        background-size: 20px 20px;
        -webkit-background-size: 20px 20px;
        background-position: center center;
        border-radius: 0px 3px 3px 0px;
        -webkit-border-radius: 0px 3px 3px 0px;
        -moz-border-radius: 0px 3px 3px 0px;
    }
    button.search-button{
        display: none;
    }
}