div.mobile-modal-search-container{
    display: none;
}

div.mobile-search-background-overlay{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(230,230,230, .9);
    z-index: 3;
}

form.mobile-search-modal-form{
    position: fixed;
    top: 1%;
    left: 2%;
    width: 96%;
    padding: 20px;
    background-color: #FFFFFF;
    z-index: 4;
    box-sizing: border-box;
    border: 1px solid #c7c7c7;
}

/*--------------Modal Contents------------------*/
div.mobile-search-select-wrapper{
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    padding: 13px 10px 12px 10px;
    font-size: 14px;
    width: 100%;
    color: #555555;
    box-sizing: border-box;
}

select.mobile-select-search-type{
    background-color: transparent;
    width: 100%;
    color: #555555;
    background-image: url("../../Images/Icons/BlackDownTriangle.png");
    -webkit-background-size: 12px auto;
    background-size: 10px auto;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

span.mobile-search-select-triangle{
    display: block;
    position: absolute;
    right: 4%;
    top: 50%;
    border-top: 8px solid #555555;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    transform: translateY(-50%);
}

div.mobile-modal-search-bar-wrapper{
    position: relative;
    width: 100%;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ECECEC;
    -moz-box-shadow: inset 0px 1px 0px 0px #ECECEC;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 8px 0px 8px 10px;
    box-sizing: border-box;
    margin: 10px 0px 0px 0px;
}

input.mobile-modal-search-bar{
    width: calc(100% - 30px);
    height: 27px;
    position: relative;
    bottom: -1px;
    right: 0px;
    font-size: 14px;
    padding: 0px 0px 0px 7px;
    box-sizing: border-box;
}

span.mobile-modal-search-bar-icon{
    display: inline-block;
    background-image: url("../../Images/Icons/GreySearchIcon.png");
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 18px;
    height: 18px;
    position: relative;
    top: 6px;
    left: 3px;
}

ul.mobile-search-suggestions-list{
    position: absolute;
    width: 100%;
    top: 44px;
    left: 0px;
    box-sizing: border-box;
    border-radius: 3px 3px 3px 3px;
    -webkit-box-shadow: 0px 0px 5px 0px #777777;
    -moz-box-shadow: 0px 0px 5px 0px #777777;
    box-shadow: 0px 0px 5px 0px #777777;
    border: 1px solid #cacaca;
    overflow: hidden;
    z-index: 1;
}

ul.mobile-search-suggestions-list li.search-suggestion{
    width: 100%;
}

input.submit-mobile-search-modal{
    width: 100%;
    height: 45px;
    background-color: #4A90E2;
    color: white;
    font-weight: bold;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 10px 0px 0px 0px;
    letter-spacing: 0.5px
}

span.close-mobile-search-modal{
    background-color: transparent;
    color: #555555;
    font-size: 14px;
    margin: 20px auto 0px auto;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media (min-width: 800px) {
    div.mobile-modal-search-container{
        display: none;
    }
}