
div.search-options-wrapper{
    width: 90%;
    margin: 16px auto 0px auto;
    color: #555555;
    overflow: auto;
}

span.search-option{
    width: 49%;
    height: 100%;
    text-align: center;
    border-bottom: 4px solid transparent;
    padding: 0px 0px 5px 0px;
}

span.search-option-left{
    float: left;
}

span.search-option-right{
    float: right;
}

span.selected-search-option{
    border-bottom: 4px solid #FF9800;
    color: #FF9800;
    height: 16px;
}

form.search-bar-form{
    width: 90%;
    margin: 10px auto 0px auto;
    position: relative;
}

div.search-bar-input-wrapper{
    width: 87%;
    height: 35px;
    float: left;
}

input.search-search-bar{
    height: 100%;
    width: 100%;
    -webkit-box-shadow: inset 0px 1px 0px #ECECEC;
    -moz-box-shadow: inset 0px 1px 0px #ECECEC;
    box-shadow: inset 0px 1px 0px #ECECEC;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    -webkit-border-radius:3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0px 0px 0px 10px;
}

input.search-submit-button{
    width: 13%;
    height: 37px;
    display: inline-block;
    background-color: #448AFF;
    color: #FFFFFF;
    border: 0px;
    background-image: url("../Images/WhiteSearchIcon.png");
    background-repeat: no-repeat;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    background-position: center center;
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius:  0px 3px 3px 0px;
    border-radius:  0px 3px 3px 0px;
}