.header{
    height: 45px;
    background-color: #FF9800;
    width: 100%;
    display: table;
}
.logo{
    display: inline-block;
    line-height: 45px;
    margin-left: 10px;
}
.header-search-bar{
    display: none;
}
.favorites-button{
    display: inline-block;
    position: absolute;
    right: 45px;
    margin-top: 4.5px;
}
.search-icon{
    display: inline-block;
    position: absolute;
    right: 10px;
    margin-top: 10px;
    height: 25px;
}

@media (min-width: 355px) {
    .header{
        height: 55px;
    }
    .logo{
        line-height: 55px;
    }
    .favorites-button{
        right: 50px;
    }
    .search-icon{
        height: 28px;
        margin-top: 13.5px;
    }
}

