<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Favorites Page</title>

  <link href="../../../static/PhotoMenu/CSS/Reset.css" rel="stylesheet" type='text/css'>
  <link href="../../../static/PhotoMenu/CSS/FavoritesPage.css" rel="stylesheet" type='text/css'>
  <link href="../../../static/PhotoMenu/CSS/MobileFoodEntry.css" rel="stylesheet" type='text/css'>
  <link href="../../../static/PhotoMenu/CSS/FoodSection.css" rel="stylesheet" type='text/css'>
  <link href="../../../static/PhotoMenu/CSS/MobileFooter.css" rel="stylesheet" type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>

  <script src="../../../static/PhotoMenu/JS/FavoritesPage.js"></script>

</head>
<body>
  <nav class="theme-orange">
    <h1 class="brand-name-logo">Pocket Menu</h1>
    <span class="header-search-icon"></span>
  </nav>

  <!-- Background Image w/ title -->
  <div class="header-background">
    <div class="background-image-dark-overlay">
      <h1 class="favorites-header">My Favorites</h1>
    </div>
  </div>

  <!-- Filter and Search -->
  <div class="filter-and-search-section">
    <ul class="filter-options-list">
      <li class="filter-option">
        <span class="filter-name">A-Z</span>
      </li>
      <li class="filter-option chosen-filter">
        <span class="filter-name">Restaurant Name</span>
      </li>
      <li class="filter-option">
        <span class="filter-name">Cuisine</span>
      </li>
    </ul>
  </div>

  <!-- List of Food Item Lists -->
  <ul class="list-of-food-lists">
    <li class="food-type-section-wrapper">
    <h3 class="food-type-section-header">Kathy's Asian Kitchen</h3>
    <ul class="food-type-section-food-list">
      {%  include "PhotoMenu/Snippets/MobileFoodEntry.html" %}
      {%  include "PhotoMenu/Snippets/MobileFoodEntry.html" %}
      {%  include "PhotoMenu/Snippets/MobileFoodEntry.html" %}
    </ul>
  </li>
  </ul>

  <!-- Website Footer -->
  {% include "PhotoMenu/Snippets/MobileFooter.html" %}




</body>
</html>