<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Title</title>

  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/Reset.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/Defaults.css" %}">

	<link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/FavoritesButton.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/Logo.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/Footer.css" %}">

	<link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/MobileLogoFavoritesHeader.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/MasterSearchBar.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/SitePages/Homepage.css" %}">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do">
</head>

<div>

{% include "PhotoMenu/Snippets/MobileLogoFavoritesHeader.html" %}

<!--Picture area-->
<div class="homepage-picture">
	<div class="dark-overlay">
		<h1 class="large-text">Food looks better when you can see it.</h1>
{#		<span class="food-name">Foods</span>#}
{#		<span class="restaurant-name">Restaurants</span>#}
{##}
{#		<input class="search-bar" type="text">#}
{#		<button class="search-button">Search</button>#}
    {%  include "PhotoMenu/Snippets/MasterSearchBar.html" %}

		<p class="picture-bottom-text">Browse full photo menus, right on your phone.</p>
	</div>
</div>

<!--Why us area-->
<h1 class="why-us-header">Why Pocket Menu?</h1>

<div class="light-bulb-section">
  <img class="why-us-icon" src="{% static "PhotoMenu/Images/Icons/LightBulbIcon.png" %}">
  <h3 class="icon-text">Faster Browsing</h3>
  <p class="icon-description">Pictures give a description worth 1000 words at a single glance.</p>
</div>

<div class="heart-icon-section">
  <img class="why-us-icon" src="{% static "PhotoMenu/Images/Icons/HeartIcon.png" %}">
  <h3 class="icon-text">Faster Browsing</h3>
  <p class="icon-description">Pictures give a description worth 1000 words at a single glance.</p>
</div>

<div class="search-icon-section">
  <img class="why-us-icon" src="{% static "PhotoMenu/Images/Icons/SearchIcon.png" %}">
  <h3 class="icon-text">Faster Browsing</h3>
  <p class="icon-description">Pictures give a description worth 1000 words at a single glance.</p>
</div>

<!--Our locations area-->
<div class="white-area">
	<h1 class="our-locations-header">Our Locations</h1>
	<p class="our-locations-detail">Check out some of these great restaurants!</p>
	<span class="our-location-span">
		<img class="el-pelon" src="{% static "PhotoMenu/Images/MockPhotos/ElPelon.jpg" %}">
		<p class="our-location-name">El Pelon</p>
	</span>
	<span class="our-location-span">
		<img class="crush-pizza" src="{% static "PhotoMenu/Images/MockPhotos/CrushPizza.jpg" %}">
		<p class="our-location-name">Crush Pizza</p>
	</span>
</div>

<!--Footer-->
{% include "PhotoMenu/Snippets/Footer.html" %}

</body>
</html>