<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Restaurant Page</title>

  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/Defaults.css" %}">
  <link rel="stylesheet" type='text/css' href="{% static "PhotoMenu/CSS/Snippets/Reset.css" %}">
  <link rel="stylesheet" type='text/css' href="{% static "PhotoMenu/CSS/Snippets/FoodEntry.css" %}">
  <link rel="stylesheet" type='text/css' href="{% static "PhotoMenu/CSS/Snippets/FoodSection.css" %}">
  <link rel="stylesheet" type='text/css' href="{% static "PhotoMenu/CSS/Snippets/Footer.css" %}">
  <link rel="stylesheet" type='text/css' href="{% static "PhotoMenu/CSS/Snippets/FilterSearchBar.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/MobileInspectorView.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/DesktopInspectorView.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/AllInspectorViews.css" %}">
  <link rel="stylesheet" type='text/css' href="{% static "PhotoMenu/CSS/SitePages/RestaurantPage.css" %}">

  <link href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
</head>
<body>

  <nav class="theme-orange">
    <!-- Only visible in Mobile -->
    <span class="header-hamburger-icon navbar-mobile"></span>
    <span class="header-search-icon navbar-mobile"></span>
    <a class="my-favorites-button navbar-mobile" href="#">My Favorites</a>

    <!-- Only visible in Desktop -->
    <h1 class="brand-name-logo navbar-desktop">Pocket Menu</h1>
    <div class="header-search-bar navbar-desktop">
      <span class="header-search-icon navbar-desktop"></span>
      <input class="header-search-input navbar-desktop" type="text" placeholder="e.g. restaurant or food name">
    </div>
    <a class="header-contact-us-link navbar-desktop" href="#">Contact Us</a>
    <span class="header-links-separator navbar-desktop"></span>
    <a class="header-my-favorites-link navbar-desktop" href="#">My Favorites</a>
  </nav>

  <!-- Background Image w/ title -->
  <div class="header-background">
    <div class="background-image-dark-overlay">
      <h1 class="restaurant-name">Basho Japanese Brasserie</h1>
      <p class="restaurant-address">77 Mass. Ave., Cambridge, MA 02139</p>
      <p class="restaurant-hours">9am-9pm Mon-Fri</p>
    </div>
  </div>

  <!-- Categories (Filter) and Search Bar -->
  <div class="categories-and-search-bar restaurant-page-desktop">
    {%  include "PhotoMenu/Snippets/FilterSearchBar.html" %}
  </div>

  <!-- Inspector View (mobile & desktop) -->
 {%  include "PhotoMenu/Snippets/AllInspectorViews.html" %}

  <!-- List of Food Item Lists -->
  <ul class="list-of-food-lists">
    <li class="food-type-section-wrapper">
      <h3 class="food-type-section-header">Appetizer</h3>
      <p class="category-description">
        This is where the category description would go in the
        restaurant page section. Deals, side choices, etc.
      </p>
      <ul class="food-type-section-food-list">
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}

        <!-- ghost items ensure even spacing and left-alignment -->
        <li class="ghost-food-item"></li>
        <li class="ghost-food-item"></li>
        <li class="ghost-food-item"></li>
      </ul>
    </li>
    <li class="food-type-section-wrapper">
      <h3 class="food-type-section-header">Kathy's Asian Kitchen</h3>
      <p class="category-description">
        This is where the category description would go in the
        restaurant page section. Deals, side choices, etc.
      </p>
      <ul class="food-type-section-food-list">
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}

        <!-- ghost items ensure even spacing and left-alignment -->
        <li class="ghost-food-item"></li>
        <li class="ghost-food-item"></li>
        <li class="ghost-food-item"></li>
      </ul>
    </li>
  </ul>


  <!-- Website Footer -->
  {%  include "PhotoMenu/Snippets/Footer.html" %}

  <script src="{%  static "PhotoMenu/JS/FilterSearchBar.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/FoodEntry.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/AllInspectorView.js" %}" type="text/javascript"></script>


  </div>
</body>
</html>