<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Restaurant Page</title>

  <link rel="stylesheet" type='text/css' href="{% static "PhotoMenu/CSS/Snippets/Reset.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/Defaults.css" %}">

  <link rel="stylesheet" type='text/css' href="{% static "PhotoMenu/CSS/Snippets/FoodEntry.css" %}">
  <link rel="stylesheet" type='text/css' href="{% static "PhotoMenu/CSS/Snippets/FoodSection.css" %}">
  <link rel="stylesheet" type='text/css' href="{% static "PhotoMenu/CSS/Snippets/Footer.css" %}">
  <link rel="stylesheet" type='text/css' href="{% static "PhotoMenu/CSS/Snippets/FilterSearch.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/MobileInspectorView.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/DesktopInspectorView.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/AllInspectorViews.css" %}">

  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/Logo.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/FavoritesButton.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/HeaderSearchBar.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/HamburgerFavoritesSearchHeader.css" %}">

  <link rel="stylesheet" type='text/css' href="{% static "PhotoMenu/CSS/SitePages/RestaurantPage.css" %}">

  <link href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
</head>
<body>

  {% include "PhotoMenu/Snippets/HamburgerFavoritesSearchHeader.html" %}

  <!-- Background Image w/ title -->
  <div class="header-background">
    <div class="background-image-dark-overlay">
      <h1 class="restaurant-name">Basho Japanese Brasserie</h1>
      <p class="restaurant-address">77 Mass. Ave., Cambridge, MA 02139</p>
      <p class="restaurant-hours">9am-9pm Mon-Fri</p>
    </div>
  </div>

  <!-- Categories (Filter) and Search Bar -->
  <div class="categories-and-search-bar restaurant-page-desktop">
    {%  include "PhotoMenu/Snippets/FilterSearch.html" %}
  </div>

  <!-- Inspector View (mobile & desktop) -->
 {%  include "PhotoMenu/Snippets/AllInspectorViews.html" %}

  <!-- List of Food Item Lists -->
  <ul class="list-of-food-lists">
    <li class="food-type-section-wrapper">
      <h3 class="food-type-section-header">Appetizer</h3>
      <p class="category-description">
        This is where the category description would go in the
        restaurant page section. Deals, side choices, etc.
      </p>
      <ul class="food-type-section-food-list">
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}

        <!-- ghost items ensure even spacing and left-alignment -->
        <li class="ghost-food-item"></li>
        <li class="ghost-food-item"></li>
        <li class="ghost-food-item"></li>
      </ul>
    </li>
    <li class="food-type-section-wrapper">
      <h3 class="food-type-section-header">Kathy's Asian Kitchen</h3>
      <p class="category-description">
        This is where the category description would go in the
        restaurant page section. Deals, side choices, etc.
      </p>
      <ul class="food-type-section-food-list">
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}

        <!-- ghost items ensure even spacing and left-alignment -->
        <li class="ghost-food-item"></li>
        <li class="ghost-food-item"></li>
        <li class="ghost-food-item"></li>
      </ul>
    </li>
  </ul>

  <!-- Website Footer -->
  {%  include "PhotoMenu/Snippets/Footer.html" %}

  <script src="{%  static "PhotoMenu/JS/DocumentModule.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/FilterSearch.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/SwipeGesture.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/FoodEntry.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/AllInspectorView.js" %}" type="text/javascript"></script>

  </div>
</body>
</html>