<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Search Results</title>

  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/Defaults.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/Reset.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/MasterSearchBar.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/FoodEntry.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/Footer.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/MobileLogoFavoritesHeader.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/MobileInspectorView.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/DesktopInspectorView.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/AllInspectorViews.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/SitePages/SearchResultsPage.css" %}">

  <link href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
</head>

<body>
  <!-- Logo and Favorites Nabar-->
  {%  include "PhotoMenu/Snippets/MobileLogoFavoritesHeader.html" %}

  <!-- Top Section of SearchResultsPage -->
  <div class="top-section">
    <h1 class="search-page-title">Search Results</h1>
    <div class="search-options-wrapper">
      <span class="search-option search-option-left selected-search-option">Restaurant</span>
      <span class="search-option search-option-right">Food Name</span>
    </div>

    <!-- Mobile Search Bar-->
    {%  include "PhotoMenu/Snippets/MasterSearchBar.html" %}

    <p class="number-of-search-results">Showing results 1-50 of 99</p>
    <div class="full-width-seperator"></div>
  </div>

  <!-- Inspector View (mobile & desktop -->
 {%  include "PhotoMenu/Snippets/AllInspectorViews.html" %}

  <!-- List of Search Results -->
  <ul class="search-results-list">
    {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
    {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
    {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
    {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
    {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
    {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
    {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
    {%  include "PhotoMenu/Snippets/FoodEntry.html" %}

    <!-- ghost items ensure even spacing and left-alignment -->
    <li class="ghost-food-item"></li>
    <li class="ghost-food-item"></li>
    <li class="ghost-food-item"></li>
    <li class="ghost-food-item"></li>

    <!-- dummy li to give the ul its actual height -->
    <li style="clear: both"></li>
  </ul>

  <!-- More Results Navigator -->
  <div class="more-results-navigator">
    <a href="#" class="previous results-page">
      <span class="previous page-icon"></span>
      Previous
    </a>
    <a href="#" class="next results-page">
      Next
      <span class="next page-icon"></span>
    </a>
    <div style="clear:both;"></div>
  </div>

  <!-- Website Footer -->
  {% include "PhotoMenu/Snippets/Footer.html" %}

  <script src="{%  static "PhotoMenu/JS/FoodEntry.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/AllInspectorView.js" %}" type="text/javascript"></script>

</body>
</html>