<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Search Results</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static "PhotoMenu/Images/Icons/ChompsFaviconOrange.ico" %}">

  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/Defaults.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/Reset.css" %}">

  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/FoodEntry.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/Footer.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/MobileInspectorView.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/DesktopInspectorView.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/AllInspectorViews.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/FavoritesLink.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/Logo.css" %}">

  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/LogoFavoritesHeader.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/MasterSearchBar.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/SitePages/SearchResultsPage.css" %}">

  <link href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
</head>

<body>
  <!--Header-->
  {%  include "PhotoMenu/Snippets/LogoFavoritesHeader.html" %}

  <!-- Top Section of SearchResultsPage -->
  <div class="top-section">
    <h1 class="search-page-title">Search Results</h1>
{#    <div class="search-options-wrapper">#}
{#      <span class="search-option search-option-left selected-search-option">Restaurant</span>#}
{#      <span class="search-option search-option-right">Food Name</span>#}
{#    </div>#}


    <!-- Main Search Bar -->
    {% include "PhotoMenu/Snippets/MasterSearchBar.html" %}

    <p class="number-of-search-results">There are {{ menu_items_list.count }} results matching '{{ query_string }}'</p>
    <div class="full-width-seperator"></div>
  </div>

  <!-- Inspector View (mobile & desktop) -->
 {%  include "PhotoMenu/Snippets/AllInspectorViews.html" %}

  <!-- List of Search Results -->
  {% if menu_items_list %}
    <ul class="search-results-list">
      {%  for menu_item in menu_items_list %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
      {% endfor %}


      <!-- ghost items ensure even spacing and left-alignment -->
      <li class="ghost-food-item"></li>
      <li class="ghost-food-item"></li>
      <li class="ghost-food-item"></li>

    </ul>
  {% else %}
    <div class="no-results-help-container">
      <br>
      <p class="no-results-details">Your search did not match anything in our data base.</p>
      <br>
      <p class="no-results-suggestion">Suggestions:</p>
      <br>
      <ul class="no-results-suggestions-list">
        <li class="no-results-sugestion">Check the spelling in your search</li>
        <li class="no-results-sugestion">Try searching a shorter phrase</li>
        <li class="no-results-sugestion">Try using different key words</li>
      </ul>
    </div>
  {% endif %}

  <!-- Website Footer -->
  {% include "PhotoMenu/Snippets/Footer.html" %}

  <script src="{%  static "PhotoMenu/JS/Header.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/DocumentModule.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/Ajax.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/SwipeGesture.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/FoodFavoriting.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/FoodEntry.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/AllInspectorView.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/SearchBarAutocomplete.js" %}" type="text/javascript"></script>


</body>
</html>