<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

  <title>Chomps - Search Results</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static "PhotoMenu/Images/Icons/ChompsHamburgerSymbol.ico" %}">

  {% load compress %}
  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/Defaults.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/Reset.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/FoodEntry.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/RestaurantEntry.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/Footer.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/MobileInspectorView.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/DesktopInspectorView.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/AllInspectorViews.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/FavoritesLink.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/Logo.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/LogoFavoritesHeader.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/Snippets/MasterSearchBar.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "PhotoMenu/CSS/SitePages/SearchResultsPage.css" %}">
  {% endcompress %}

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80552421-1', 'auto');
  ga('send', 'pageview');
  </script>
</head>

<body>
  <!--Header-->
  {%  include "PhotoMenu/Snippets/LogoFavoritesHeader.html" %}

  <!-- Top Section of SearchResultsPage -->
  <div class="top-section">
    <h1 class="search-page-title">Search Results</h1>

    <!-- Main Search Bar -->
    {% include "PhotoMenu/Snippets/MasterSearchBar.html" %}

    <!-- Result Count -->
    {% if search_type == "Food" %}
      <p class="number-of-search-results">There are {{ menu_items_list.count }} food results matching '{{ query_string }}'</p>
    {% elif search_type == "Restaurant" %}
      <p class="number-of-search-results">There are {{ restaurants_list.count }} restaurant results matching '{{ query_string }}'</p>
    {% endif %}
      <div class="full-width-separator"></div>

  </div>

  <!-- Inspector View (mobile & desktop) -->
 {%  include "PhotoMenu/Snippets/AllInspectorViews.html" %}

  <!-- List of Search Results -->
  {% if menu_items_list %}
    <ul class="food-search-results-list">
      {%  for menu_item in menu_items_list %}
        {%  include "PhotoMenu/Snippets/FoodEntry.html" %}
      {% endfor %}
      <!-- ghost items ensure even spacing and left-alignment -->
      <li class="ghost-food-item"></li>
      <li class="ghost-food-item"></li>
      <li class="ghost-food-item"></li>
    </ul>

  {% elif restaurants_list %}
      <ul class="restaurants-search-results-list">
        {%  for restaurant in restaurants_list %}
          {%  include "PhotoMenu/Snippets/RestaurantEntry.html" %}
        {% endfor %}
        <div style="clear: both;"></div>
      </ul>

  {% else %}
    <div class="no-results-help-container">
      <br>
      <p class="no-results-details">Your search did not match anything in our database.</p>
      <br>
      <p class="no-results-suggestion">Suggestions:</p>
      <br>
      <ul class="no-results-suggestions-list">
        <li class="no-results-sugestion">Check the spelling in your search</li>
        <li class="no-results-sugestion">Try searching a shorter phrase</li>
        <li class="no-results-sugestion">Try using different key words</li>
      </ul>
    </div>
  {% endif %}

  <!-- Website Footer -->
  {% include "PhotoMenu/Snippets/Footer.html" %}

  {% compress js %}
  <script src="{%  static "PhotoMenu/JS/Header.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/DocumentModule.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/Ajax.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/SwipeGesture.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/FoodFavoriting.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/FoodEntry.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/AllInspectorView.js" %}" type="text/javascript"></script>
  <script src="{%  static "PhotoMenu/JS/SearchBarAutocomplete.js" %}" type="text/javascript"></script>
  {% endcompress %}


</body>
</html>